body, html {
  height: 100%;
  min-height: 100%;
}

h1, h2, h3, h4, a {
  font-family: "Varela Round", serif;
}

p {
  font-size: 17px;
  line-height: 1.2;
  font-weight: 300;
  font-family: "Open Sans", serif;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
}

h2 {
  font-size: 43px;
  margin:0;
  padding: 0;
}

.navbar{
  padding-top: 10px;
  position:fixed;
  top:0px;
  width:100%;
  height:75px;
  z-index:9999;
  display: none;
}

.logo {
  padding: 0 0 25px;
}

.vertical-align {
  display: flex;
  align-items: center;
  float: none;
}

#home, #savings{
  padding: 90px 0 90px 0;
}

#home p {
  padding: 0 0 25px;
}


#home{
  background-color: #f8f8f8;
}

.health-section{
  background: url("../img/health-background.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding: 210px 0 210px 0;
  text-shadow: 1px 1px 3px #222;
}

.health-section p {
  font-size: 21px;
  line-height: 1.2;
  padding: 20px 0 0;
}


#savings{
  background-color: #fff;
}

.media-body p  {
  font-size: 21px;
  color: #b3b3b3;
}


.save-images {
  width: 180px;
}


#locations{
  background: url("../img/foliage-shot-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #ccc;
  padding-top: 50px;
  text-shadow: 1px 1px 3px #222;
}

#locations p {
  color: #fff;
  font-size: 21px;
  line-height: 1.2;
  padding: 20px 0 0;
}

#locations h2 {
  color: #fff;
}

footer{
  background-color: #F8F8F8;
}

#dot-nav{
  right: 10px;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  z-index: 999;
}

#dot-nav ul {
  list-style: none;
  margin:0;
  padding: 0;
}

#dot-nav li {
  position: relative;
  background-color: #bdc3c7;
  border:3px solid #bdc3c7;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  padding: 5px;
  height: 10px;
  margin: 10px 10px 0px 0px;
  width: 10px;
  vertical-align:bottom;
}

#dot-nav li.active, #dot-nav li:hover {
  background-color: #1ABC9C;
}

#dot-nav a {
  outline: 0;
  vertical-align:top;
  margin: 0px 0px 0px 25px;
  position: relative;
  top:-5px;
}

.awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #1ABC9C;
    color: #f5f5f5;
    border: 1px solid #1ABC9C;
}

.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #1ABC9C;
}


/*Media Queries*/

@media all and (max-width: 599px) and (min-width: 320px) {
    p{
      font-size: 23px;
    }

    h2 {
      font-size: 32px;
      padding: 0 0 25px;
    }

    .vertical-align {
      display: block ;

    }

    .media-body {
      padding-right: 20px;
    }

    #home p, #locations p{
      padding: 0 20px;
    }

    #home p {
      padding: 0 20px 25px;
    }

    #home, #savings {
      padding: 140px 0 140px 0;
    }

    #locations {
      padding: 0 0 120px 0;
    }

    #health p {
      padding-bottom: 30px;
    }

    .locations-mobile {
      padding-bottom: 25px;
    }

    #locations h2 {
      padding-right: 10px;
    }

    .health-section {
      background: url("../img/health-background-overlay.jpg") no-repeat center;
      background-size: cover;
      /*background-position:-216px 0px;*/

    }

    /*.mobile-overlay {
      background-color: #000;
      z-index: 9999;
      height: 500px;
      width: 100px;
    }*/

   /* .health-text {
      padding-top: 200px;
    }*/

}








